.container1{
    display: flex;
    justify-content: space-between;
}
.kotak1{
    border: 2px solid black;
    background-color: #ffee58;
    width: 280px;
    height: 100px;
}
.kotak2{
    border: 2px solid black;
    background-color: #ff6f00;
    width: 1039px;
    height: 100px;
}
.container2{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.kotak3{
    border: 2px solid black;
    background-color: #aed581;
    width: 280px;
    height: 390px;
}
.kotak4{
    border: 2px solid black;
    background-color: #cfd8dc;
    width: 750px;
    height: 390px;
}
.kotak5{
    border: 2px solid black;
    background-color: #00e5ff;
    width: 280px;
    height: 390px;
}
.kotak6{
    border: 2px solid black;
    background-color: #304ffe;
    height: 100px;
    margin-top: 15px;
}